# Headers CORS gérés uniquement par les fichiers PHP

Require all granted

# Sécurité upload
# <Files "*.php">
#    Require all denied
# </Files>

# Bloquer l'accès direct aux uploads
RedirectMatch 403 ^/backend/uploads/.*$